{% extends "layout.html" %}

{% block title %}
    Boards
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table">
        <th scope="row">1</th>
        <td>Mark</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>@fat</td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>  
{% endblock %}